
.flex-container  {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-item {
  margin: 5px;
  color: white;
  text-align: center;
}

.main-nav li {
  list-style: none;
}

footer {
    position: fixed;
    right: 43%;
    bottom: 0;
    text-align: center;
  }

.main-nav {
  display: flex;
}

#brand-name {
  padding-left: 20px;
  padding-top: 25px;
}

