<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>&#35;Active</title>
    <link rel="stylesheet" href="./CSS/review-layout.css" />
    <link rel="stylesheet" href="./CSS/parent-layout.css" />
    <link rel="stylesheet" href="./CSS/styles.css" />
  </head>
  <body>
  <div class="navbar-photo">
    <header>
      <h1 id="brand-name">Travel Reviews On The Fly </h1>
      <nav class="main-nav">
        <ul class="flex-container space-between">
          <li class="flex-item">
            <a class="navlink-color" th:href="@{'/category/'}">Home</a>
          </li>
          <li class="flex-item" th:each="navCountry: ${countries}">
            <a class="navlink-color" th:text="${navCountry.countryName}" th:href="@{'/country/' +${navCountry.countryName}}"></a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
    <h1>&#35;Active</h1>
    <h2>Bruce Peninsula Review</h2>
    <p>
      The Bruce Peninsula is an astounding area to visit if you enjoy hiking and
      nature. The winding pine forest trails and towering cliffs into crystal
      clear water demand you explore them. After exerting yourself in your
      travels, The Fish And Chip Place serves amazing white-fish tacos(And I
      don’t even like fish!)
    </p>
    <img width="500px" src="images/brucepeninsulacliffs.jpg"/>
    <h2>Cinque Terre Review</h2>
    <p>
      We got to Cinque Terre and our mouths dropped. It had breath taking views.
      We stumbled on the Cinque Terre Trail after finding that there were three
      ways to travel in between the cities. We ended up taking the hike. It was
      worth it. Our taxi drivers name was Luca. He said we would make it to the
      city next door before the rain. We didn’t make it... Very upset about our
      clothes being wet for dinner.
    </p>
    <img width="500px" src="images/cinque-terre1.jpg"/>
    <h2>Gettysburg Review</h2>
    <p>
      Rated number one on things to do in Gettysburg, Pennsylvania, this
      historic military landmark was once a major turning point in the Civil
      War. Thought to have been one of the bloodiest battles during the Civil
      War, this was also a pivotal moment in history that gave inspiration for
      Abraham Lincoln’s “Gettysburg Address”. Many locals say that this landmark
      is also extremely haunted. For anyone who is an avid golfer, this
      links-style course presents a demanding layout with unforgiving fairways
      and greens, as well as various steep rock cliffs, lakes, and waterfalls
      spanning across its 18 holes. At a length of 7069 yards, this par-72
      course is one of the larger public courses in the area, making it a
      challenge for some golfers off the tee. After the turn, or at the end of
      your round, The Links At Gettysburg also has a spacious indoor/outdoor bar
      with great food and beverages.
    </p>
    <img width="500px" src="images/gettysburg-links.jpg">
    <h2>Miami Review</h2>
    <p>
      A historical Italian estate first built in 1916 as a private winter
      retreat for American Businessman James Deering, this beautiful villa pays
      tribute to the Italian Renaissance era. On this site tourists can visit a
      Museum that still has its earlier furnishings and artwork intact, as well
      as its beautiful formal gardens. Many tourists say this is one of the best
      bay views in Miami! Open to the public, and free of charge! Doesn’t get
      any better than that. Wynwood Walls was first established and opened in
      2009 by well-known art visionary Tony Goldman. This outdoor museum
      features more than 40 street art murals from some of the leading street
      artists around the world. If you’re an up-and-coming artist looking for
      inspiration, this place is a must see!
    </p>
    <img width="500px" src="images/wynwood-walls.jpg">
    <h2>Stratford Review</h2>
    <p>
      Stratford is a gorgeous little town just north of the border. If you are
      able to visit during the annual Shakespeare festival you'll be treated to
      a plethora of wonderful stage performances, and if that is not quite your
      style I must recommend the quiet joy of a candied apple while strolling
      the river Avon.
    </p>
    <img width="500px" src="./images/stratfordavonriver.jpg">
  </body>
  <footer>
    <div>&copy; CodingOnTheFly 2020</div>
    <br>
  </footer>
</html>
