<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucaya</title>
    <link rel="stylesheet" href="./CSS/review-layout.css" />
    <link rel="stylesheet" href="./CSS/parent-layout.css" />
    <link rel="stylesheet" href="./CSS/styles.css" />
  </head>
  <body>
  <div class="navbar-photo">
    <header>
      <h1 id="brand-name">Travel Reviews On The Fly </h1>
      <nav class="main-nav">
        <ul class="flex-container space-between">
          <li class="flex-item">
            <a class="navlink-color" th:href="@{'/category/'}">Home</a>
          </li>
          <li class="flex-item" th:each="navCountry: ${countries}">
            <a class="navlink-color" th:text="${navCountry.countryName}" th:href="@{'/country/' +${navCountry.countryName}}"></a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
    <h1>Lucaya Review</h1>
    <p>Star Rating: 4 / 5</p>
    <div><a class="hashtag" href="./ocean-view.html"> #OceanView</a></div>
      Points of Interest:
      <ul>
        <li>Count Basie Square</li>
        <li>Leo's Art Gallery</li>
      </ul>
    </p>
    <p>
     Here is what to do in Lucaya. Count Basie Square,
      Leo's Art Gallery, and Neptune's Cocktail Lounge are just to name a few.
      O, you can't forget Pelican Bay. I still haven't figured out how you can be on what seems like the
      top of a mountain and on the beach at the same time. Everything here seems
      perfect. You can't go wrong and the Marina is just at the bottom of the
      drive.
    </p>
    <img src="images/lbahama2.jpg" alt="Lucaya Img"/>
  </body>
  <footer>
    <div> &copy; CodingOnTheFly 2020</div>
  </footer>
</html>
