.new-reviews {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.weekly-container, .monthly-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 15px 0px 5px;
}

.hashtag-nav .hashtag-container {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0;
    padding: 0; */
    list-style: none;  
}

.hashtag-container li {
    list-style: none;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
}

.monthly-container {
    margin-left: 50px;
}

.welcome-info {
    margin-left: 40px;
}

#hashtag-heading {
    margin-left: 40px;
}




