img {
    max-height: 500px;
    border-radius: 20px;
    display:block;
    margin-left: 0;
    margin-right: 0;
    max-width: 300px;
    margin-top: 20px;
}
.visiting-cities {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 15px 0px 5px;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
}

.visiting-cities li {
    padding: 30px 70px 70px 90px;
}
.cities-list{
text-align: center;
}

#cities-to-visit {
    text-align: center;
    margin-top: 100px;
}
.country-name {
    margin-left: 40px;
    margin-right: 40px;
}