.hashtag-city {
    display: flex;
    border-radius: 20px;
    padding: 30px 20px 20px 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.hashtag-content {
    margin-left: 30px; 
    margin-right: 40px;
}

.hashtag-img {
    /* padding-bottom: 50px; */
}

#hashtag {
    margin-left: 40px;

}
