img {
    max-height: 500px;
    border-radius: 20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}

.visiting-cities {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 15px 0px 5px;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
}

.visiting-cities li {
    padding: 70px;
}

#cities-to-visit {
    text-align: center;
    margin-top: 100px;
}
.review-container {
    margin-left: 40px;
    margin-right: 40px;
}

