:root{
}

body{
    background-color: rgba(0, 238, 255, 0.616);
}

.hashtag {
    text-decoration: none;
}

.navbar-photo {
    background-image: url("https://raw.githubusercontent.com/2020-Summer-Cohort/reviews-site-codingonthefly/dev/src/main/resources/static/images/home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
      
}