<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Review Site</title>
    <link rel="stylesheet" href="/CSS/category-layout.css" />
    <link rel="stylesheet" href="/CSS/parent-layout.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
</head>
<body>
<h1>Travel Review Site Home Page </h1>
<p>"Welcome to the We Can Code It Travel Review Site"</p>
<nav class="main-nav">
    <ul>
        <li>
            <a th:href="@{'/category/'}">Home</a>
        </li>
        <li th:each="navCountry: ${countries}">
            <a th:text="${navCountry.countryName}" th:href="@{'/country/' +${navCountry.countryName}}"></a>
        </li>
    </ul>
</nav>
<h2>Search reviews by hashtag</h2>
<nav>
    <ul>
        <li th:each="hash: ${hashtag.id}">
            <a th:text="${hash.}" th:href="@{'/hashtag/' + ${hashtag.hashtag}}"></a>
        </li>
    </ul>
</nav>

</body>
<footer>
    <div> &copy; CodingOnTheFly 2020</div>
</footer>
</html>
