
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bruce Peninsula</title>
    <link rel="stylesheet" href="./CSS/review-layout.css" />
    <link rel="stylesheet" href="./CSS/parent-layout.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
</head>
<body>
<nav>
    <div><a href="/category.html">Home</a></div>

</nav>
<h1 th:text="${city.cityName}">Bruce Peninsula Review</h1>
<p th:text="${city.starRating}"> Star Rating: 5 / 5</p>
<div><a class="hashtag" href="./park.html"> #Park</a> <a class="hashtag" href="./active.html"> #Active</a></div>
<p>Points of Interest:</p>
<ul>
    <li th:text="${city.pointOfInterest1}">Bruce Peninsula National Park</li>
    <li th:text="${city.pointOfInterest2}">The Fish And Chip Place</li>
</ul>
<p th:text="${city.review}">
    The Bruce Peninsula is an astounding area to visit if you enjoy hiking and
    nature. The winding pine forest trails and towering cliffs into crystal
    clear water demand you explore them. After exerting yourself in your
    travels, The Fish And Chip Place serves amazing white-fish tacos (And I
    don't even like fish!)
</p>

<form action="/hashtags/add" method="POST">
    <label>Insert new hashtag for this review.</label>
    <input type="text" name="hashtag"/>
    <input type="hidden" name="cityName" th:value="${city.cityName}"/>
    <button type="submit">Submit</button>
</form>

<img th:src="${city.photo}" alt="Bruce Peninsula Img"/>
</body>
<footer>
    <div> &copy; CodingOnTheFly 2020</div>
</footer>
</html>
