<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bahamas</title>
    <link rel="stylesheet" href="/CSS/countries-layout.css" />
    <link rel="stylesheet" href="/CSS/parent-layout.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
</head>
<body>
<div class="navbar-photo">
    <header>
        <h1 id="brand-name">Travel Reviews On The Fly </h1>
        <nav class="main-nav">
            <ul class="flex-container space-between">
                <li class="flex-item">
                    <a class="navlink-color" th:href="@{'/category/'}">Home</a>
                </li>
                <li class="flex-item" th:each="navCountry: ${countries}">
                    <a class="navlink-color" th:text="${navCountry.countryName}"
                       th:href="@{'/country/' +${navCountry.countryName}}"></a>
                </li>
            </ul>
        </nav>
        </header>
    </div>
<div class="country-name">
    <h2 th:text="${country.countryName}"> Bahamas</h2>
    <p th:text="${country.description}"></p>
</div>

<h3 id="cities-to-visit"> Cities To Visit </h3>
<nav>

    <ul class="visiting-cities">
        <li class="cities-list" th:each="city: ${country.cities} ">
            <a th:text="${city.cityName}" th:href="@{'/cities/'+${city.cityName}}"></a>
            <img th:src="${city.photo}" alt="Bruce Peninsula Img"/>
        </li>
    </ul>
</nav>
<br>
<br>
<br>
</body>
<footer>
    <div> &copy; CodingOnTheFly 2020</div>
</footer>
</html>
