<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Review Site</title>
    <link rel="stylesheet" href="../static/CSS/category-layout.css" />
    <link rel="stylesheet" href="../static/CSS/parent-layout.css" />
    <link rel="stylesheet" href="../static/CSS/styles.css" />
</head>
<body>

<h1>Travel Review Site</h1>
<nav class="main-nav">
    <div><a href="../static/category.html">Home</a></div>
    <div><a href="../static/bahamas.html">Bahamas</a></div>
    <div><a href="../static/canada.html">Canada</a></div>
    <div><a href="../static/italy.html">Italy</a></div>
    <div><a href="../static/south-korea.html">South Korea</a></div>
    <div><a href="../static/united-states.html">United States</a></div>
</nav>
<h2>Search reviews by hashtag</h2>
<nav>
    <div><a href="../static/active.html">#Active</a></div>
    <div><a href="../static/history.html">#History</a></div>
    <div><a href="../static/ocean-view.html">#OceanView</a></div>
    <div><a href="../static/park.html">#Park</a></div>
</nav>
<p>"Welcome statement goes here"</p>
</body>
<footer>
    <div> &copy; CodingOnTheFly 2020</div>
</footer>
</html>