<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"> <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>&#35;Active</title>
    <link rel="stylesheet" href="/CSS/review-layout.css" />
    <link rel="stylesheet" href="/CSS/parent-layout.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
</head>
<body>
<li>
    <a th:href="@{'/category/'}">Home</a>
</li>
<h1 th:replace="fragments/h1 :: h1">&#35;Active</h1>
<h2 th:text="${hashtag.cities}">Bruce Peninsula Review</h2>
<ul>
    <li th:each="city: ${hashtag.cities}">
        <p th:text="${city.review}">The Bruce Peninsula is an astounding area to visit if you enjoy hiking and
            nature. The winding pine forest trails and towering cliffs into crystal
            clear water demand you explore them. After exerting yourself in your
            travels, The Fish And Chip Place serves amazing white-fish tacos(And I
            don’t even like fish!)
        </p>
        <img src="images/brucepeninsulacliffs.jpg" th:attr="src=@{/images/brucepeninsulacliffs.jpg}"/>
    </li>
</ul>
</body>
<footer>
    <div>&copy; CodingOnTheFly 2020</div>
</footer>
</html>